* {
	margin: 0;
	padding: 0;
	/*default font*/
	font-family: "Dosis", sans-serif;
	/*box-sizing*/
	box-sizing: border-box;
}

nav {
	background-color: ;
	display: flex;
	flex-direction: row;
}

#nav-logo-container {
	display: inline-block;
	height: 100px;
	margin-left: 2rem;
}

nav #nav-logo-container img {
	width: 100px;
}



nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-items {
	margin-left: 1.5rem;
	font-size: 1.5rem;
}

.nav-items:hover {
	border-bottom: 2px solid #304059;
}

#hero-section {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: #faac2a;
}


#hero-section .hero-header {
	text-align: center;
	font-size: 5rem;
	color: #304059;
	font-weight: bold;
	margin-bottom: 1rem;
}

#hero-section .header-info {
	text-align: center;
	margin-bottom: 2rem;
}

#hero-section button {

	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border: 3px solid #304059;
	border-radius: 20px;
	font-size: 1.5rem;
	padding: .5rem 1rem;

}

#button {
	display: flex;
	justify-content: center;
}